html,body {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

li {
  float: left;
  display: block;
  padding: 8px;
}

#sign-in {
  width: 69.3px;
  height: 29.6px;
}

#app-icon {
  width: 30px;
  height: 30px;
}

#logo {
  width: 500px;
  height: 280px;
  margin-left: 13%;
  margin-top: 6%;

}

/* THIS IS WHERE THE SEARCH BAR IMG CSS USED TO BE BETWEEN CONTAINER AND LOGO */

.container {
  width: 100%;
  text-align: center;
}

button {
  padding-bottom: 0%;
}

#footer {
  margin-top: 10%;
}

input[type=text] {
   width: 500px;
   height: 25px;
}

#search {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

#footer {
  margin-top: 25%;
  background-color: #F0F0F0;
  border: 1px solid black;
}


